body {
    font-family: Arial, sans-serif;
    background-color: #111;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
}

.menu {
    background-color: #333;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    text-align: center;
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 300px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.profile-photo {
    width: 100px;  /* Aumentado de 80px para 100px */
    height: 100px; /* Aumentado de 80px para 100px */
    border-radius: 50%;
    margin-right: 10px;
    object-fit: cover; /* Garante que a imagem seja cortada proporcionalmente */
}

h1 {
    margin: 0;
    color: #ffffff;
    font-size: 28px;
}

.social-button {
    display: block;
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    font-size: 18px;
    color: #fff;
    background-color: #ff0000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.social-button:hover {
    background-color: #b30000;
}
